* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
    --bg-color: #c8c8c8;
    --container-color: #3c3f47;
    --primary-btn-color: #33363d;
    --primary-equal-color: orangered;
    --secondary-equal-color: rgb(223, 60, 0);
    --secondary-btn-color: #74777b;
    --display-background-color: #acc087; 
    --display-text-color: #f3ffdc;
}

body {
    width: 100vw;
    background:#c8c8c8;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1rem 0.7rem;
    display: flex;
    flex-direction: column;
    background: #5A5C68;
    border-radius: 1rem;
    row-gap: 1rem;
    border-right: 5px solid var(--container-color);
    border-bottom: 5px solid var(--container-color);
}

.display {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(1.25rem, auto) minmax(2.2rem, auto);
    
    text-align: end;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    font-size: 1.75rem;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;

    color: var(--display-text-color);
    background: var(--display-background-color);
}

.previous-calc {
    font-size: 1rem;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(4, 2.8rem);
    grid-template-rows: repeat(5, 2.8rem);
    justify-content: center;
    align-items: center;
    column-gap: 0.6rem;
    row-gap: 0.6rem;
}

.btn {
    border-radius: 0.5rem;
    height: 100%;
    color: white;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent; /* tirar aquele quadrado azul que aparece qnd clica em algo*/
}

.number {
    background: #3D4049;
    font-size: 2rem;
    border-right: 5px solid var(--primary-btn-color);
    border-bottom: 5px solid var(--primary-btn-color);
}

.operator {
    background: #94989d;
    font-size: 1.28rem;
    border-right: 5px solid var(--secondary-btn-color);
    border-bottom: 5px solid var(--secondary-btn-color);
}

.number:active, .operator:active {
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: var(--primary-btn-color);
}

.operator:active {
    border-color: var(--secondary-btn-color);;
}

.clean {
    grid-column: 1/3;
}

.del {
    font-size: 1rem;
    grid-column: 3/4;
}

.equal {
    background: orangered;
    grid-column: 3/5;
    font-size: 2rem;
    border-right: 5px solid var(--secondary-equal-color);
    border-bottom: 5px solid var(--secondary-equal-color);
}

.equal:active {
    border-right: 3px solid var(--secondary-equal-color);
    border-bottom: 3px solid var(--secondary-equal-color);
}

h1 {
    font-weight: 1;
}